@font-face {
    font-family: myFirstFont;
    src: url(Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: myFirstFont;
  }

  .centered {
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(309deg) brightness(107%) contrast(107%)
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 5%;
  }

  li img {
    width: 35px;
    height: 35px;
    margin-right: 5%;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-areas:
    "sidebar header"
    "sidebar cc";
    width: 100%;
    height: 100%;
  }

  .sidebar {
    background-color: blue;
    grid-area: sidebar;
    font-weight: bold;
  }

  #sidebar-heading {
    font-size: clamp(0.4rem, 1.4vw, 2.5rem);
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .centered h1 {
    display: flex;
    margin-left: 7%;
    justify-content: flex-start;
    align-items: center;
  }

  .centered li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(0.5rem, 1vw, 1.6rem);
  }

  .sidebar ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    list-style-type: none;
    margin-left: 7%;
  }

  .sidebar li {
    margin-top: 10%;
  }

  .btn {
    text-align: center;
    background-color: blue;
    width: 30%;
    border-radius: 30px;
  }

  .btns-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 75%;
  }

  #img-noti {
    gap: 15%;
  }

  .noti-pfp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7rem;
    margin-bottom: 5%;
    gap: 5%;
  }

  .header {
    background-color: grey;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "input noti-pfp"
    "name-pfp btns-container";
    gap: 5%;
    padding: 2%;
    background-color: white;
  }

  .input-class {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  input {
    grid-area: input;
    margin-bottom: 3%;
    height: 40%;
    width: 90%;
  }

  .name-pfp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .noti-pfp {
    grid-area: noti-pfp;
  }

  .name-pfp {
    grid-area: name-pfp;
  }

  .btns-container {
    grid-area: btns-container;
  }

  .content-container {
    background-color: red;
    grid-area: cc;
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-areas:
    "projects announcements";
  }

  .announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "ants"
    "ant-card"
    "trending"
    "trending-card";
    grid-area: announcements;
    padding: 2%;
    gap: 3%;
  }

  .projects {
    grid-area: projects;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
    gap: 3%;
  }

  .projects h2 {
    grid-column: span 2;
  }

  .project-card {
    background-color: brown;
    padding: 3%;
  }

  .ants {
    grid-area: ants;
    text-align: center;
  }

  .ant-card {
    grid-area: ant-card;
    margin-left: 15%;
    margin-right: 15%;
    background-color:yellow;
    padding: 2%;
  }

  .trending {
    grid-area: trending;
    text-align: center;
  }

  .trending-card {
    grid-area: trending-card;
    padding: 2%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: yellow;
  }